<h2>Movie deets</h2>
<p>Title: {{title}}</p>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
<p>Cast:</p>
<br>
<div>

{{#each cast}} 
<div>
<p style="font-weight: bold;">{{name}}</p>
<p style="font-style: italic;">{{occupation}}</p>
<p>{{catchPhrase}}</p>
</div>
{{/each}}
</div>
<div>
    <form action="/movies/{{_id}}/delete" method="post">
    <button type="submit">Delete Movie</button>
    </form>
</div>
<div>
    <a href="/movies/{{_id}}/edit"><button>Edit Movie</button></a>
</div>